

    <!-- footer area start -->
    <footer class="footer-area text-center">
        <div class="footer-inner">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4">
                        <div class="footer-widget widget">
                            <h4 class="widget-title">Follow Us</h4>
                            <ul class="social-area">
                                <li><a href="https://www.instagram.com/fairwindscbd/"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="https://www.facebook.com/myfairwindswellness/"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="https://twitter.com/Fairwindscanna"><i class="fa fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="footer-widget widget">
                            <div class="footer-logo d-inline-block">
                                <%= image_tag ('Fairwinds-CBD-Logo-01.png')%>
                            </div>
                            <p>Fairwinds grew from a desire to make reliable, effective, holistic wellness products available to those who seek it. We blend in clinically-proven herbal extracts and essential oils to create products that address common issues like anxiety, sleep problems, and digestive issues. Fairwinds makes wellness products for every body.</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="footer-widget widget widget_link">
                            <h4 class="widget-title">Popular tags</h4>
                            <ul>
                                <li><a href="https://www.instagram.com/fairwindscbd/">#FairwindsWellness</a></li>
                                <li><a href="https://www.instagram.com/fairwindscbd/">#FairwindsCommunity</a></li>
                                <li><a href="https://www.instagram.com/fairwindscbd/">#HolisticLifestyle</a></li>
                                <li><a href="https://www.instagram.com/fairwindscbd/">#PesticideFree</a></li>
                                <li><a href="https://www.instagram.com/fairwindscbd/">#PlantBased</a></li>
                                <li><a href="https://www.instagram.com/fairwindscbd/">#PlantMagic</a></li>
                                <li><a href="https://www.instagram.com/fairwindscbd/">#PlanetPowered</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer area end -->    