

    <!-- footer area start -->
    <footer class="footer-area text-center">
        <div class="footer-inner">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4">
                        <div class="footer-widget widget">
                            <h4 class="widget-title">Follow me</h4>
                            <ul class="social-area">
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="footer-widget widget">
                            <div class="footer-logo d-inline-block">
                                <img src="assets/img/logo-2.png" alt="img">
                            </div>
                            <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti disse in orci enim.</p>
                            <form>
                                <div class="single-input-wrap mb-0">
                                    <input type="email" placeholder="Enter Email">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="footer-widget widget widget_link">
                            <h4 class="widget-title">Popular tags</h4>
                            <ul>
                                <li><a href="home-3.html">#TRAVEL</a></li>
                                <li><a href="home-3.html">#LIFE</a></li>
                                <li><a href="home-3.html">#LAKE</a></li>
                                <li><a href="home-3.html">#VLOGOS</a></li>
                                <li><a href="home-3.html">#ALTEGO</a></li>
                                <li><a href="home-3.html">#MONACO</a></li>
                                <li><a href="home-3.html">#SELECTED</a></li>
                                <li><a href="home-3.html">#HELLO</a></li>
                                <li><a href="home-3.html">#ITSON</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer area end -->    