    <header class="navbar-area">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid nav-container">
                <div class="responsive-mobile-menu">
                    <button class="menu toggle-btn d-block d-lg-none" data-target="#themefie_main_menu" 
                    aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-left"></span>
                        <span class="icon-right"></span>
                    </button>
                </div>
                <div class="lawel-header-left">
                    <div class="side-menu-bar d-inline-flex">
                        <i id="side-menu-open" class="fa fa-bars"></i>
                    </div>
                    <a href="home-1.html" class="logo">
                        <img src="assets/img/logo.png" alt="img">
                    </a>
                    <div class="nav-right-part">
                        <ul class="social-area">
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>                   
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a class="search" href="#"><i class="fa fa-search"></i></a></li>    
                        </ul>
                    </div>                     
                </div>
                <div class="collapse navbar-collapse" id="themefie_main_menu">
                    <ul class="navbar-nav menu-open text-center">
                        <li class="current-menu-item menu-item-has-children">
                            <a href="home-1.html">HOME</a>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#">BLOG</a>
                            <ul class="sub-menu">
                                <li><a href="single.html">Lifestyle</a></li>
                                <li><a href="single-blog-2.html">Whole-body Wellness</a></li>
                                <li><a href="single-blog-3.html">History</a></li>                              
                                <li><a href="gallery-blog.html">Gallery Blog</a></li>
                                <li><a href="about.html">About</a></li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="home-3.html">LIFESTYLE</a>
                        </li>
                        <li>
                            <a href="about.html">ABOUT</a>
                        </li>
                        <li>
                            <a href="contact.html">CONTACT</a>
                        </li>
                    </ul>
                </div>
                <div class="nav-right-part text-end nav-right-part-desktop">
                    <ul>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>                   
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="search" href="#"><i class="fa fa-search"></i></a></li>    
                    </ul> 
                </div>
            </div>
        </nav>
    </header>