<div id="side-navbar" class="side-navbar">
        <i id="side-menu-close" class="fa fa-times"></i>
         <ul class="side-navbar-items">
            <li class="menu-item">Home
            </li>
            <li class="menu-item-has-children">
                <ul class="sub-menu ps-0">
                    <li><a href="https://www.fairwinds.store/about-us/">About</a></li>
                    <li><a href="https://www.fairwinds.store/faq/">Contact</a></li>
                </ul>
            </li>
        </ul>       
</div>