<div id="side-navbar" class="side-navbar">
        <i id="side-menu-close" class="fa fa-times"></i>
         <ul class="side-navbar-items">
            <li class="menu-item">Home
            </li>
            <li class="menu-item-has-children">
                <ul class="sub-menu ps-0">
                    <li><a href="#">Our Process</a></li>
                    <li><a href="#">Our Ingredients</a></li>
                </ul>
            </li>
            <li class="menu-item-has-children">
                <ul class="sub-menu ps-0">
                    <li><a href="#">History</a></li>
                    <li><a href="#">Lifestyle</a></li>
                    <li><a href="#">Whole-body Wellness</a></li>
                </ul>
            </li>
            <li><a href="contact.html">Contact</a></li>
        </ul>       
</div>